<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProxSens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E5A0F9D1C06C7B500B6414A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E5A0FB11C06C7B500B6414A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E5A0FBC1C06C7B600B6414A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
